#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-cb13d51e],h2[data-v-cb13d51e]{font-weight:400}ul[data-v-cb13d51e]{list-style-type:none;padding:0}li[data-v-cb13d51e]{display:inline-block;margin:0 10px}a[data-v-cb13d51e]{color:#42b983}
/*# sourceMappingURL=app.a04c3ad4f0429c961d56e872a7c2f0b7.css.map */